.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;   
}


.availabiliy{
    width: 250px;
    height: 350px;
    border-radius: 15px;
    padding:20px;
    box-shadow:10px 2px 10px 10px #aaaaaa ;  
    background-color: white;
    color: #0AA1DD;
    font-family: 'Courier New', Courier,;   
}

.availabiliy img{
    width: 125px;   
}

.availabiliy button{
    border-radius: 10px;
    border:none;
    width: 90%;
    height: 15%;
    background-color: #2155CD;
    color:white;
}

.notavailability {
    width: 250px;
    height: 350px;
    border-radius: 15px;
    padding:20px; 
    color:#0AA1DD;
    font-family: 'Courier New', Courier,;
    box-shadow:10px 2px 10px 10px #aaaaaa ; 
    background-color: white;   
}

.notavailabiliy img{
    width: 125px;   
    
}

.notavailability button{
    border-radius: 10px;
    border:none;
    width: 90%;
    height: 15%;
    background-color: gray;
    color:white;
}

body{
    margin: 0px;
    background-color: #E8F9FD;
}
